@model Movie

@{
    ViewData["Title"] = "Success";
}

<!-- A confirmation screen for when the user successfully submits stuff! -->
<div class="text-center">
    <h1 class="display-4">Movie successfully added</h1>
    <p class="main_text">Thank you for your contribution to the Joel Hilton Film Collection!</p>
</div>