@model Movie

@{
    ViewData["Title"] = "Add to Collection";
}

<div class="text-center">
    <h1 class="display-4">Add Your Favorites to the Collection!</h1><br>

    <!-- This fieldset will have a box around it for styling -->
    <fieldset>
        <!-- Attach a line underneat the legend -->
        <legend style="text-align:left; border-bottom:2px solid #333;">Fill out the Form</legend>

        <!-- Form and questions -->
        <form method="post">
            <label asp-for="Category">Category </label>
            <select asp-for="Category">
                <option value="" disabled selected>Select</option>

                @foreach (Categories c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Category</option>
                }
            </select>
            <br>
            <label asp-for="Title">Title</label>
            <input asp-for="Title" required/>
            <br>
            <label asp-for="Year">Year</label>
            <input asp-for="Year" required/>
            <br>
            <label asp-for="Director">Director</label>
            <input asp-for="Director"/>
            <br>
            <label asp-for="Rating">Rating</label>
            <select asp-for="Rating">
                <option value="" disabled selected>Select</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
            <br>
            <label asp-for="Edited">Edited</label>
            <select asp-for="Edited" required>
                <option value="0" disabled selected>Select</option>
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>
            <br>
            <label asp-for="LentTo">Lent To</label>
            <input asp-for="LentTo"/>
            <br>
            <label asp-for="CopiedToPlex">Copied to Plex</label>
            <select asp-for="CopiedToPlex" required>
                <option value="0" disabled selected>Select</option>
                <option value=1>Yes</option>
                <option value=0>No</option>
            </select>
            <label asp-for="Notes">Notes</label>
            <input asp-for="Notes" maxlength="25"/>
            <br>

            <button type="submit" value="Submit">Add!</button>
        </form>
    </fieldset>
</div>