@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="main_txt">The Joel Hilton Film Collection is an ongoing effort to add to Joel Hilton's ever-growing list of the greatest films known to mankind. The goal of this Collection is to provide knowledge about only the best films, with none of the cheap and low-quality ones. Explore this website, and feel free to add your own favorites to the Joel Hilton Film Collection!</p><br>
    <img class="welcome_img" src="~/joelhilton.jpg" />
</div>

<div>
    <!-- Include the image of Joel Hilton -->
    <p class="img_script">Joel Hilton &copy The Joel Hilton Film Collection</p>
</div>

<div>
    <!-- Give users an example of what is on this website -->
    <br><h5>Films in Joe Hilton's collection include...</h5>

    <ul class="left_txt">
        <li>Pride and Prejudice</li>
        <li>Star Wars</li>
        <li>Marley & Me</li>
        <li>The Dark Knight</li>
        <li>The Ring</li>
        <li>And many more...</li>
    </ul>
</div>