@{
    ViewData["Title"] = "Getting to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Meet Joel</h1>

    <!-- General info about Joel, and hyperlinks to his hobbies -->
    <p class="main_txt">
        As you could tell from the home page (if you made it there), Joel is a fun-loving connoisseur of media and the arts. Not only is he an expert film critic, but he also participates in a <a href="https://www.qwcomedy.com/">comedy club</a> and co-hosts a <a href="https://baconsale.com/">podcast</a>. Feel free to explore this website as well as check out Joel Hilton's other fabulous ventures. If you so desire, you can also enroll at BYU-Provo and take IS classes from his brother, Spencer.
        <br><span style="font-style:italic; text-align:left;">***WARNING: Please do not confuse Spencer Hilton with his evil twin, Evil Hilton.***</span>
    </p>

    <!-- Image of Joel and his friends, as well as hyperlinks -->
    <br><p class="left_txt" style="margin-bottom: 5px;"><span style="font-weight:bold;">Check out Joel's other ventures by following the links below!</span></p>
    <ul class="left_txt">
        <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
        <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
    </ul>

    <br><a href="https://baconsale.com/" target="_blank"><img class="welcome_img" src="~/baconsale.jpg" /></a>
</div>

<div>
    <!-- Explanation of the picture -->
    <p class="img_script">Guess which one is Joel? HINT: He's the one on the far right! &copy; The Joel Hilton Film Collection</p>
</div>